@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300&display=swap');

body {
	font-family: 'Montserrat', sans-serif;
	height: 100%;
}

#mainBGdiv {

	img {
		max-height: 100vh;
	}

	#logoDiv {
		background-color: rgba(78, 78, 78, 0.596);
		position: absolute;
	}

	#scrollButton {
		position: absolute;
		bottom: 6%;
		left: 50%;
		color: rgba(199, 199, 199, 0.658);
		z-index: 3;
		i {
			font-size: 3rem;
		}
	}
}

nav {

	.redIcon {
		color: #ff5c5c;
	}

	.blueIcon {
		color: #171161;

	}
	
	.yellowIcon {
		color: #ff914d;
	}

	.nav-link {
		color: black !important;
	}

	.nav-link:hover {
		border-bottom: 1px black solid !important;
	}
}

#quienesSomos {

	height: 100vh;
	background-color: white;
	display: flex;
	align-items: center;

	p {
		text-align: justify;
		font-size: 1.3rem;
		margin-top: 1rem;
	}

	.ratio {
		img {
			width: 100%;
			padding: 0 3rem;
		}
	}

	#logo {
		max-width: 400px;
		margin: 1rem 0;
	}
}

#servicios {

	display: flex;
	flex-direction: column;
	justify-content: center;

	height: 100vh;
	background-color: rgb(255, 109, 65);
	
	h2 {
		align-self: flex-start;
	}

	#textLogistica {
		font-size: 1.72rem;
	}

	#textComercial {
		font-size: 1.25rem;
	}

	#textTecnica {
		font-size: 1.2rem;
	}
}



#productos {
	
	background-image: url('../media/fondoProductos.jpg');
	background-size: cover;

	.lista {
		font-size: 1.5rem;

		// div {
		// 	margin: 0.7rem 0;
		// }
	}
	.listaEsp {
		font-size: 1.4rem;

		// div {
		// 	margin: 0.7rem 0;
		// }
	}

	.background {
		background-color: rgba(78, 78, 78, 0.863);
	}	

	h2 {
		span {
			background-color: rgba(78, 78, 78, 0.904);
		}
	}
}

#contacto {

	.container {
		padding: 5rem 0;
	}

	background-color: rgb(65, 65, 65);

	ul {
		list-style-type: none;
		li {
			width: 100%;
			list-style: none;
		}
	}

	img {
		max-width: 300px;
	}

	p {
		font-size: 1.3rem;
	}
}

// lg
@media (max-width: 1200px) {
	#servicios {
		#calidadHead {
			font-size: 1.5rem;
		}
	}
}

// md 
@media (max-width: 768px) {
	#productos {

		.lista {
			margin: 0 0;
			padding: 0 0;
		}

		.text-center {
			margin-bottom:  1.2rem;
		}
	
		.lista:nth-of-type(1){
			.text-center:nth-of-type(1) {
				margin-top: 1.2rem;
			}
		}
	}
}

@media (max-width: 576px){
	#servicios {
		height: 100%;
	}
}