#mainBGdiv {

	img {
		max-height: 100vh;
	}

	#logoDiv {
		background-color: rgba(78, 78, 78, 0.596);
		position: absolute;
	}

	#scrollButton {
		position: absolute;
		bottom: 5%;
		left: 50%;
		color: rgba(199, 199, 199, 0.658);
		z-index: 3;
		i {
			font-size: 3rem;
		}
	}
}

nav {
	.redIcon {
		color: #ff5c5c;
	}

	.blueIcon {
		color: #171161;

	}
	
	.yellowIcon {
		color: #ff914d;
	}

	.nav-link:hover {
		border-bottom: 1px black solid !important;
	}
}

#quienesSomos {


	p {
		text-align: justify;
		font-size: large;
		margin-top: 1rem;
	}

	.ratio {
		img {
			width: 100%;
			padding: 0 3rem;
		}
	}

	#logo {
		max-width: 400px;
		margin: 1rem 0;
	}
}

#servicios {

	// background-color: rgb(252, 187, 90);
	background-color: rgb(255, 109, 65);

	#textLogistica {
		font-size: 1.25rem;
	}

	#textComercial {
		font-size: 1.25rem;
	}
}